<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Upload photo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../css/style.css" rel="stylesheet">
    </head>
    <body>
    
    <img src="photo.url" alt="photo.about" height="50px"><br>
    <form action="/photos/<%=photo._id%>?_method=PUT" method="POST">
        Username:
        <br><input type="text" id='username' name='user' value ="<%=photo.user%>">
        <br>url:
        <br><input type="text" name='url' value="<%=photo.url%>">
        <br>About:
        <br><input type="textarea" name="about" value="<%=photo.about%>">
        <br>
        <br><input type="submit" value="Submit">
    </form>

<form action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
    
    <input type="submit" value="Delete">
</form>

    </body>
</html>